@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@plugin "daisyui";

.fontFamily{
    font-family: "Inter", sans-serif;
}

.bgImage::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/vector1.png"), url("./assets/vector2.png");
  background-repeat: no-repeat, no-repeat ;
  background-position: bottom left, bottom right;
  background-size: contain, contain;
}